# Данные (CSV, Excel, Parquet — не в Git)
*.csv
*.xlsx
*.parquet

# Но .dvc файлы — в Git (обязательно!)
!*.dvc

# DVC кэш и временные файлы
.dvc/cache/
.dvc/tmp/
.dvc/config.local

__pycache__/
*.py[cod]
venv/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.key
*.pem
*.json
dvc-key.json